<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <title>{% block title %}{% endblock %} - WPBin</title>
        <link rel="stylesheet" href="{{ url('/css/wpbin.css') }}">
        <script type="text/javascript" src="{{ url('/js/wpbin.min.js') }}"></script>
        {% if debug %}
            <script src="http://{{ host_ip }}:35729/livereload.js?snipver=1"></script>
        {% endif %}
    {% endblock %}
    </head>
    <body>
        <header id="header">
            {% block header %}
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="logo">
                        <a href="{{ url('/') }}" title="WPBin" id="logo">
                            <img src="{{ url('/images/wpbin-logo.png') }}">
                        </a>
                        <span class="tagline">{{ wpbin_tagline }}</span>
                    </li>
                </ul>

                <section class="top-bar-section">
                    <ul class="right">
                        <li class="active">
                            <a href="/"><i class="fa fa-plus-square-o"></i>&nbsp;Bin it!</a>
                        </li>
                    </ul>
                </section>
            </nav>
            {% endblock %}
        </header>

        <div id="content">
            {% block content %}
                {% set errs = errors.toArray() %}
                {% if errs %}
                <div class="row main-errors">
                    <ul class="errors small-12 columns">
                    {% for err in errs %}
                        {% for e in err %}
                        <li>{{ e }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endblock %}
        </div>

        <footer id="footer">
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>