{% extends 'layout.twig' %}

{% block content %}
    {{ parent() }}
    <div class="row show-bin">
        <div class="small-12 medium-8 columns show-bin-content">
            {% set title = paste.get('title') %}
            {% if title %}
                <h3>{{ title }}</h3>
            {% endif %}
            {% spaceless %}
            <pre class="line-numbers">
                <code class="language-phplinks">{{ paste.get('content') }}</code>
            </pre>
            {% endspaceless %}
        </div>
        {% if tags %}
        <div class="small-12 medium-4 columns show-bin-sidebar">
            <h3>Codex Entries</h3>
            <ul>
            {% for tag in tags %}
                <li><a href="{{ tag.get('url') }}" target="_blank">{{ tag.get('name') }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}